@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header{
    background: url(img/banner.avif);
    background-size: cover;
    background-position: center;
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
header h1{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 80px 0 0 0;
}
header h2{
    text-align: center;
    font-size: 35px;
    color: #fff;
    padding: 0px 0;
    margin-top: -5px;
    font-weight: bold;
}
.contenedor{
    max-width: 1200px;
    padding: 7px;
    margin: -35px auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor-items .item .img-item{
    width: 100%;
}
.contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}
.contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}
/*-----------------------------carrito-----------------------------------*/
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    opacity: 0;
    margin-right: -100%;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 10px;
}
.carrito .carrito-item img{
    margin-right: 5px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.carrito .carrito-item .carrito-item-subtotal{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}
.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}
.car-vac{
    color: #b1b0b0;
    text-align: center;
    font-size: 20px;
}
@media screen and (max-width:850px) {
    .contenedor{
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .contenedor .contenedor-items{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        grid-gap: 20px;
        grid-row-gap: 20px;
        width: 100%;
        transition: .3s;
    }
}
.btnlink{
    position: fixed;
    justify-content: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 10px;
    right: 10px;
    background: #000000;
    color: #fff;
    border-radius: 50px;                                
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.3);
    z-index: 100;
}
.aplicacion{
    display: flex;
    margin: 10px 5px 10px 10px;
    width: 95%;
    background: #cacaca;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.3);
    border: 1px solid #000;
}
.aplicacion img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.aplicacion a{
    text-decoration: none;
    color: #000;
    font-size: 15.5px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
/*-----------------------------------------------------------------------------*/    
.container{
    margin-top: 50px;
    width: 400px;
    background-color: rgb(252, 252, 252);
    padding: 7px;
    box-shadow: 0 2px 16px rgba(0,0,0,.3);
    border-radius: 20px;
}
.tab_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229,229,229);
    position: relative;
}
.tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.tab_box .tab_btn.active{
    color: #000000;
    border-bottom: 5px solid #000000;
}
.content_box{
    padding: 0px;
}
.content_box .content{
    display: none;
    animation: moving .5s ease;
}
@keyframes moving{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}
.content_box .content.active{
    display: block;
}
.content_box .content h2{
    margin-bottom: 10px;
}
.line{
    position: absolute;
    top: 62px;
    left: 15px;
    width: 223px;
    height: 5px;
    background-color: #010007;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

/*--------------------------------------------------------------------------------------------------------*/
.tab-nav-bar{
    position: relative;
    margin: 20px 5px 20px 5px;
}
.tab-navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}
.tab-menu{
    color: rgb(255, 255, 255);
    list-style-type: none;
    background: rgb(0, 0, 0);
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    border-bottom: 1px solid rgb(194, 193, 193);
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0,0.3);
    overflow-x: auto;
    user-select: none;
    scroll-behavior: smooth;
}
.tab-menu::-webkit-scrollbar{
    display: none;
}

.tab-category{
    color: white;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}
.tab-category:hover{
    background: rgb(104, 104, 104);
}

.tab-category.actives{
    background: white;
    color: black;
}

.left-btn, .right-btn{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    padding: 10px;
    cursor: pointer;
}
.left-btn{
    left: 0;
    background: linear-gradient(to left, transparent, rgb(0, 0, 0) 80%);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    display: none;
}
.right-btn{
    right: 0;
    background: linear-gradient(to right, transparent, rgb(0, 0, 0) 80%);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.item.hide{
    display: none;
}
/*=============================================================MENU Y APLICACION======================================================*/
:root{
    --z-normal: 1;
    --z-modal: 1000;
    }
.navbar{    
    background: rgba(15, 15, 15, 0);
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 20px 20px;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 10px 20px;
    background: black;
}
.navbar .navbar-contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}
.navbar .menu-list{
    display: inline-flex;
 }
 .menu-list li{
    list-style: none;
}
.menu-list li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
}
.icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
@media (max-width: 868px) {
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        background: rgb(0, 0, 0);
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu-list.active{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
        margin-left: -25px;
    } 
    .navbar .menu-list li a{
        font-size: 23px;
    } 
    .menu-activo{
        background: rgb(255, 75, 75);
        padding: 5px;
        border-radius: 10px;
    }
}
.modal{
    position: fixed;
    inset: 0;
    background-color: hsla(5, 90%, 4%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: var(--z-modal);
    transition: opacity .4s, visibility .4s;
}
.modal-card{
    position: relative;
    background-color: white;
    border-radius: 15px;
    padding: 3rem 1.25rem 2rem;
    display: grid;
    row-gap: 1.5rem;
    text-align: center;
    transform: rotateX(90deg);
    transition: transform .6s;
}
.modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}
.modal-img{
    width: 220px;
    justify-self: center;
    filter: drop-shadow(0 8px 16px hsla(5, 90%, 4%, .2));
    border-radius: 15px;
}
.modal-name{
    font-size: 20px;
    color: black;
    margin-bottom: .5rem;
}
.modal-info{
    margin-bottom: 1rem;
    color: rgb(59, 59, 59);
}
.modal-button{
    background: rgb(255, 75, 75);
    color: white;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid 1px rgb(255, 75, 75);
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(190, 7, 7, 0.3);
    font-weight: bold;
}
.modal-button i{
    margin-left: 5px;
}
.active-modal{
    opacity: 1;
    visibility: initial;
    pointer-events: initial;
}
.active-modal .modal-card{
    transform: rotateX(0);
}
/*=============================================================SECCION RESPONSIVE=====================================================*/
@media (max-width: 385px){
    .carrito-item-titulo{
        font-size: 14px;
    }
    .container{
        padding: 0px;
        width: 365px;
    }
    .contenedor{
        padding: 9px;
    }
    .contenedor .contenedor-items{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        grid-gap: 1px;
        grid-row-gap: 10px;
        width: 100%;
    }
    .contenedor .contenedor-items .item{
        max-width: 170px;
        margin: auto;
        padding: 10px;
    }
    .carrito{
        margin-left: 5px;
        width: 97%;
        margin-top: 10px;
        overflow: hidden;
        margin-bottom: auto;
        top: 0;
        margin-right: -100%;
    }
    .dropdown{
        min-width: 14em;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}







.dropdown{
    min-width: 14em;
    position: relative;
    margin-bottom: 5px;
}
.dropdown * {
    box-sizing: border-box;
}
.select{
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /*border: 2px #c90a9f solid;*/
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}
.select-clicked{
    border: 2px #000000 solid;
    box-shadow: 0 0 0.8em #030303;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ffffff;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover{
    background: #2a2d35;
}
.activedrop{
    background: #23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}






